<script>
    export let segment;
</script>

<style>
	:root {
    font-size: 1em;
    font-family: 'OpenSans-Regular';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}
header {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 5rem;
	display: flex;
	background-color: var(--bg-secondary);
	color: var(--text-secondary);
}

#sign-in {
	margin-top: 2rem;
	padding: 0;
	position: absolute;
	right: 2rem;
	list-style: none;
	display: flex;
	align-items: center;
	justify-items: space-around;
}


#sign-in>li>span>a {
	color: #fff;
	padding: 1em;
	text-decoration: none;
	font-size: larger;

}
</style>

<header>
	<div class="logo">
		<span><b>M</b></span>
	</div>
	<ul id="sign-in">
		<li class="login-button btn" id="login">
			<span><a aria-current="{segment === 'login' ? 'page' : undefined}" href="login">Login</a></span>
		</li>
		<li class="register-button btn">
			<span><a aria-current="{segment === 'register' ? 'page' : undefined}" href="register">Register</a></span>
		</li>
		<li class="logout-button btn">
			<span><a aria-current="{segment === 'logout' ? 'page' : undefined}" href="logout">Sign Out</a></span>
		</li>
	</ul>
</header>
