<script>
    export let segment;
</script>

<style>
	:root {
    font-size: 1em;
    font-family: 'OpenSans-Regular';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

/* .top-nav{
	top: 0;
	width: 100vw;
	height: 8vh;
	background-color: var(--bg-primary);
} */
.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 1000ms ease;
	height: 92vh;
	top: 8;
}

.side-nav {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
	flex-direction: column;
	justify-items: space-around;
    align-items: center;
    list-style: none;
}

.nav-item {

    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: inline;
    position: absolute;
    font-size: 1.5rem;
    left: -999px;
    transition: 1000ms;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    top: 0;
    font-weight: bold;
    text-transform: uppercase;
    /* margin-bottom: 1rem; */
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: 1000ms;
}

.logo-text {
    display: inline;
    align-self: center;
    justify-self: center;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 14rem;
    }
    .navbar:hover .link-text {
        left: 1rem;
    }
    .navbar:hover .logo svg {
        margin-left: 10rem;
    }
    .navbar:hover .logo-text {
        left: 1rem;
    }
}
</style>

	<nav class="navbar">
		<ul class="side-nav">
			<li class="logo">
				<a href="." class="nav-link">
					<span class="logo-text">RETRO<br />RACKS</span>
					<svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="angle-double-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x">
						<g class="fa-group">
							<path
							fill="currentColor"
							d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
							class="fa-secondary"
							></path>
							<path
							fill="currentColor"
							d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
							class="fa-primary"
							></path>
						</g>
					</svg>
				</a>
			</li>
			<li class="nav-item">
				<a rel=prefetch aria-current="{segment === undefined ? 'page' : undefined}" href="." class="nav-link">
					<span class="link-text">Home</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="{segment === 'cart' ? 'page' : undefined}" href="cart"><span class="link-text">Cart</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" aria-current="{segment === 'about' ? 'page' : undefined}" href="about"><span class="link-text">About</span></a>
			</li>
            <li class="nav-item">
                <a rel=prefetch aria-current="{segment === 'gallery' ? 'page' : undefined}" href="gallery" class="nav-link">
                    <span class="link-text">Gallery</span>
                </a>
            </li>
		    <li class="nav-item">
			    <a rel=prefetch aria-current="{segment === 'orders' ? 'page' : undefined}" href="orders" class="nav-link">
				    <span class="link-text">Order Now</span>
			    </a>
		    </li>
		    <li class="nav-item">
			    <a rel=prefetch aria-current="{segment === 'contact' ? 'page' : undefined}" href="contact" class="nav-link">
				    <span class="link-text">Contact</span>
			    </a>
		    </li>
	    </ul>
    </nav>
