<script>
	import {HsvPicker} from 'svelte-color-picker';

	function colorCallback(rgba) {
		console.log(rgba.detail)
	}
</script>
<style>
#container {
	display: grid;
	grid-template-areas: top top top;
	grid-template-areas: middle center right;
	grid-template-areas: bottom bottom bottom;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.color-picker {
	grid-area: bottom;
}
h2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #444;
}
</style>

<svelte:head>
	<title>Place an Order</title>
</svelte:head>
<section id="container">
	<div class="color-picker">
		<h2>Choose a colour here</h2>
		<hr/>
		<HsvPicker on:colorChange={colorCallback} startColor={"#000000"}/>
	</div>
</section>
