<script>
	import AppBar from '../components/AppBar.svelte';
	import Nav from '../components/Nav.svelte';

	export let segment;
</script>

<style>
	main {
		/* position: relative; */
		box-sizing: border-box;
	}
</style>

<AppBar {segment}/>

<Nav {segment}/>

<main>
	<slot></slot>
</main>
