<svelte:head>
	<title>Your Shopping Cart</title>
</svelte:head>

<h1>Items currently in your cart...</h1>
<!-- TODO -->
<!-- Create a page that shows a record(firestore document)
of items currently waiting for completion or, posssible wish list ??  -->
